$light-blue: #59CADA;
$light-green: #76E0C2;

$caution:#EE6B2D;
$secondary-caution:#F6B868;


$white: #FFFFFF;

$light-caution:#F8CAA3;
$light-pass: #A5E7E2;

$trasnparent: transparent;
$shadow: #43424245;
$txt-caution:#9F938B;
$txt-pass: #4CAD94;

$mobile: 768px;
$tablet: 1024px;


