

$warning:#EE6B2D;
$secondary-warning:#F6B868;
$light-warning:#F8CAA3;
$txt-warning:#9F938B;

$fail:#EA806A;
$secondary-fail:#F1B496;
$light-fail:#F2CBBD;
$txt-fail:#E47958;


$light-blue: #59CADA;
$light-green: #76E0C2;
$light-pass: #A5E7E2;
$txt-pass: #4CAD94;

$white: #FFFFFF;



$trasnparent: transparent;
$shadow: #43424245;




$mobile: 768px;
$tablet: 1024px;


