.question-container {
    max-width: 80rem;
    min-height: 40rem;
    margin: auto;
    transition-delay: 2s;
    transition: margin 2s;
    @include flex-column-centered();
    justify-content: space-evenly;

    &.warning {
        @include warning;
    }

    &.pass {
        @include pass;
    }

    &.fail {
        @include fail;
    }
}

.buttons-container {
    width: 100%;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
